div.smallTableCard {
    display: flex;
    flex-direction: column;

    .mat-mdc-card-header {
        padding-top: 0px;
    }

    .mat-mdc-card {
        height: 10%;

        .mt-20,
        .mb-10 {
            display: none;
        }

        .mat-divider {
            display: none;
            border-top-color: red;
        }
    }
}