.red-pills {
    flex-direction: row-reverse;
    border: 1.5px solid;
    // border-color: #b71c1c;
    // border-radius: 20px;
    position: relative;
    padding: 0px 5px 0px 5px;
    max-width: max-content;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center !important;

    mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        margin: 0px;
    }

    .position-absolute {
        // top: -10px;
        // left: -10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid transparent;
        position: relative !important;
        // background-color: light-dark(#ffebee, #b71c1c);

        mat-icon {
            font-size: 14px;
            height: 14px;
            width: 14px;
            margin: 0px;
        }
    }
}

.position-absolute.low-criticality {
    background-color: transparent;
    // border-left: 4px solid light-dark(#4caf50, #66bb6a);
    color: light-dark(#2e7d32, #a5d6a7);

}

.position-absolute.high-criticality {
    background-color: transparent;
    // border-left: 4px solid light-dark(#f44336, #ef5350);
    color: light-dark(#c62828, #ffcdd2);

}

.high-criticality {
    background-color: light-dark(#ffebee, #b71c1c);
    // border-left: 4px solid light-dark(#f44336, #ef5350);
    color: light-dark(#c62828, #ffcdd2);

}

table th,
table td:not(.status) {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
    white-space: nowrap;
    // position: relative;

}


table td:hover {
    // background-color: transparent !important;
}