.heartbeat {
    width: 60px;
    height: auto;
    stroke: #2F80ED;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
    animation: draw 1.4s linear infinite;
    stroke: var(--mat-sys-primary);

}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}