.menu-group-list {
    ul {
        list-style-type: none;
        padding: 0px;
        padding-left: 10px;

        a {
            text-decoration: none;
            display: block;
            width: 100%;
            padding: 10px 0px;
            color: var(--mat-sys-on-surface);
        }
    }

}

.sidemenu-wrapper {
    height: 100%;
}

.menus {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}