.menu-group-list {
    ul {
        list-style-type: none;
        padding: 0px;
        padding-left: 10px;

        a {
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            margin: 8px 10px;
            width: 100%;
            padding: 10px 0px;
            color: var(--mat-sys-on-surface);
        }
    }

}

.sidemenu-wrapper {
    height: 100%;
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
}

.menus {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}

a {
    cursor: pointer !important;
}

.sidemenu-wrapper.collapse-menu .menus .menu-group-list ul a span {
    display: none;
}

.sidemenu-wrapper.collapse-menu .menus .menu-group-header {
    display: none;
}

.sidemenu-wrapper.collapse-menu .menus .menu-group-list ul {
    padding: 0px;
}