.symptom-array {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;

    &>div {
        flex: 1 1 min-content;
        padding: 12px;


        &>.mat-expansion-panel {
            flex: 1;
            margin-bottom: 0px;
            border-radius: 8px;

        }
    }
}