<mat-card class="py-20" style="width: max-content; max-width: 100%; box-sizing: border-box;">
    <mat-card-header>
        <div class="g-just-flex flex-between w-100 flex-wrap" style="gap:50px;">
            <div class="left">
                <mat-card-title>Medications</mat-card-title>
                <mat-card-subtitle>Browse medication stock.</mat-card-subtitle>
            </div>
            <div class="right gap-10 g-just-flex">
                @if (canExportMedication$ | async) {
                <a mat-flat-button extended class="secondary-button small-button">
                    <mat-icon>file_download</mat-icon>
                    Export
                </a>
                }
                @if (canAddMedication$ | async) {
                <a mat-flat-button extended (click)="addMedication()">
                    <mat-icon>add</mat-icon>
                    Add Medication
                </a>
                }
            </div>
        </div>
    </mat-card-header>

    <mat-card-content class="mt-20">
        <app-table-header [patientsTableFilterArray]="medicationTableFilterArray"
            [patientsFiltersFormControlObject]="medicationFiltersFormControlObject">
        </app-table-header>
        <mat-divider></mat-divider>
        @let medications = (tableDataLevel2 | async) ?? [];
        @if (medications.length > 0) {
        <table mat-table matSort [dataSource]="tableDataSource" class="mat-elevation-z8 demo-table mt-20">
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
                <td mat-cell *matCellDef="let med">
                    @if (med.status) {
                    <div [appChips]="med.status" [fontSize]="'14px'"></div>
                    } @else {
                    <span class="subtitle-text-color-2">N/A</span>
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="code">Medication</th>
                <td mat-cell *matCellDef="let med">
                    {{ med.code | codeableConcept2 | na | titlecase }}
                </td>
            </ng-container>

            <ng-container matColumnDef="form">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="form">Form</th>
                <td mat-cell *matCellDef="let med">
                    {{ med.form | codeableConcept2 | na | titlecase }}
                </td>
            </ng-container>

            <ng-container matColumnDef="manufacturer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="manufacturer">Manufacturer</th>
                <td mat-cell *matCellDef="let med">
                    {{ med.manufacturer?.display ?? 'N/A' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="amount">Amount</th>
                <td mat-cell *matCellDef="let med">
                    @if (med.amount) {
                    {{ med.amount.numerator?.value ?? med.amount.numeratorValue }} {{ med.amount.numerator?.unit ??
                    med.amount.numeratorUnit }}
                    } @else {
                    <span class="subtitle-text-color-2">Unspecified</span>
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="in-stock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="in-stock">Remaining Stock</th>
                <td mat-cell *matCellDef="let med">
                    {{ getRemainingInventory(med) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let med">
                    <button mat-icon-button (click)="showRow(med)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="medicationDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: medicationDisplayedColumns;"></tr>
        </table>
        } @else {
        <app-empty-state class="py-40" icon="MEDICAL_SERVICES" title="No medications found"
            subtitle="Add a medication to start tracking it here."></app-empty-state>
        }
    </mat-card-content>
</mat-card>