.quantity>div,
.quantity>input {
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    background-color: transparent;
    border: 1px solid var(--mat-sys-outline)
}

.quantity {
    display: flex;

    input {
        padding: 0 10px;
        border-right: 0px;
        border-left: 0px;
    }

}

.unit-price>input {
    height: 38px;
    box-sizing: border-box;
    max-width: 120px;
    display: inline-block;
    box-sizing: border-box;
    // margin-bottom: -100px;
    padding: 0 10px;
    padding-left: 40px;
    width: max-content;
    border: 1px solid var(--mat-sys-outline);
    background-color: transparent;
    border-radius: 3px;

}

.unit-price {
    position: relative;


    .ps {
        position: absolute;
        left: 0px;
        height: 100%;
        box-sizing: border-box;
        border-right: 1px solid var(--mat-sys-outline);
        display: flex;
        align-items: center;
        // background-color: var(--mat-sys-surface-container-high);
        padding: 8px;
    }
}

.eighty {
    @media (min-width: 1200px) {
        width: calc(65% - 15px);


    }



    max-width: 100%;

    box-sizing: border-box;


}

.twenty {
    @media (min-width: 1200px) {
        width: 30%;
    }

    max-width: 100%;

    box-sizing: border-box;
}

.each-charges {
    padding-bottom: 30px;
    padding-top: 30px;

    gap: 50px;
    width: 100%;
    box-sizing: border-box;

    &:not(.each-charges:last-child) {
        border-bottom: 1px solid var(--mat-sys-outline);
    }

    &>div {
        @media (max-width: 1023px) {
            display: flex;
            justify-content: center;
            flex: 1 1 auto;
        }
    }


}

.mat-mdc-card-header.ecbill {
    .mat-mdc-card-header-text {
        display: none;
    }
}

.scrollable-table {
    overflow: auto;
    background-color: var(--mat-sys-surface-container-low);
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;

}

table tr:first-child th {
    border-bottom: 1px solid var(--mat-sys-outline) !important;
}

table tr th {
    font-weight: 500;
}

table tr:nth-child(2) td {
    padding-top: 18px;
}

table tr th,
table tr td {
    text-align: left;
    position: relative;
    padding-bottom: 18px;

    min-width: 120px;

    &:first-child {
        min-width: 180px;
    }

    @media (max-width: 2560px) {

        padding-right: 30px;
    }

    &:last-child,
    &:nth-child(4) {
        text-align: right;
        min-width: max-content;
    }

    &:nth-child(4) {
        padding-right: 30px;
    }
}

table tr td {
    padding-bottom: 30px;

}

table {
    padding-bottom: 12px;
}

table tr:last-child td {
    padding-bottom: 0px;

}

.twenty {
    @media (min-width: 1200px) {
        width: calc(35% - 15px);

    }

    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 15px 30px 15px;

    .encounter-summary {
        border-radius: 6px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;

        // background-color: var(--mat-sys-surface-container-highest);
    }

    .based-on {
        padding: 3px 8px;
        border-radius: 3px;
        // margin-bottom: -3px;
        background-color: var(--mat-sys-surface-variant);
        color: var(--mat-sys-on-surface)
    }
}

.bill-summary .mat-mdc-card-header {
    padding-top: 0px;
    margin-top: 0px;
}

.bill-publish {
    color: var(--mat-sys-on-primary);
    background-color: var(--mat-sys-primary);
    // border: 1px solid var(--mat-sys-outline);
    border-radius: 4px;
    height: 35px;

    .mat-select {
        display: flex;
        width: 35px;
        HEIGHT: 100%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        // padding: 0px 8px;
        font-size: 1rem;
        color: var(--mat-sys-on-surface);
        background-color: var(--mat-sys-surface-variant);
        // border-left: 1px solid var(--mat-sys-on-primary);
        // color: var(--mat-sys-on-surface);
        // background-color: var(--mat-sys-surface);
    }
}

.bill-summary.mat-mdc-card {
    padding: 0px 0px 0px 0px;

    .mat-mdc-card-header {
        padding: 0px 0px 0px 0px;
    }

    .mat-mdc-card-content {
        padding: 0px 0px 0px 0px;
    }
}