// a round long meterbackground for a meter
.bmi-interprete {
    width: 100%;
    box-sizing: border-box;
}

.meter-background {
    width: 100%;
    height: 100%;
    border-radius: 20px;


    .meter-foreground {

        height: 8px;
        // overflow: hidden;
        width: 100%;
        border-radius: 20px;
        position: relative;
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;

        .position-indicator {
            position: absolute;
            top: -8px;

            width: 12px;
            height: calc(100% + 16px);
            background-color: #fff;
            border: 2px solid #000;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;


        }

        .band {
            height: 100%;

        }
    }
}

.indicator-text {
    background: var(--mat-sys-surface-container);
    // color: var(--mat-sys-primary-on-primary);
    padding: 8px;
    padding-right: 12px;
    border-radius: 20px;
    width: max-content;
    border: 2px solid var(--mat-sys-surface);
}

.symptom-array {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &>div {
        flex: 1 1 min-content;

        &>.mat-expansion-panel {
            flex: 1
        }
    }
}