<mat-card class="py-20" style="width: max-content; max-width: 100%; box-sizing: border-box;">
    <mat-card-header>
        <div class="g-just-flex flex-between w-100 flex-wrap gap-20">
            <div class="left">
                <mat-card-title class="">
                    Tasks

                </mat-card-title>
                <mat-card-subtitle>
                    Find, search and add current and past tasks
                </mat-card-subtitle>
            </div>
            <div class="right gap-10 g-just-flex">
                <a mat-flat-button extended class="secondary-button small-button">
                    <mat-icon>file_download</mat-icon> Export
                </a>


                <!-- @if(capacityObject['medicationRequest']['request'].includes(user.role)

                ) { -->
                <a mat-flat-button extended (click)="encounterService.addTask(patientId || '')">
                    <mat-icon>add</mat-icon> Add New Task
                </a>

                <!-- } -->



            </div>
        </div>
    </mat-card-header>

    <mat-card-content class="my-12 ">
        <mat-divider></mat-divider>
        <app-table-header [patientsTableFilterArray]="  tableFilter"
            [patientsFiltersFormControlObject]=" tableFilterFormControlObject">

        </app-table-header>


        <table mat-table matSort [dataSource]="tableDataSource" class="mat-elevation-z8 demo-table">

            <!--name - coding.code.display-->
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="startDate"
                    sortActionDescription="Sort by Start Date">
                    Start Date
                </th>
                <td mat-cell *matCellDef="let element">{{(element?.requestedPeriod?.start | date:"shortDate") || "N/A"}}
                </td>
            </ng-container>

            <!--Due date-->
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="dueDate"
                    sortActionDescription="Sort by Due Date">
                    Due Date
                </th>
                <td mat-cell *matCellDef="let element">{{(element?.requestedPeriod?.end | date:"shortDate") || "N/A"}}
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="name" sortActionDescription="Sort by Name">
                    Name
                </th>
                <td mat-cell *matCellDef="let element">{{element?.name || "N/A"}}</td>
            </ng-container>
            <!--type = FOCUS-->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="type" sortActionDescription="Sort by Type">
                    Type
                </th>
                <td mat-cell *matCellDef="let element">{{(element?.focus | references2) || "N/A"}}</td>
            </ng-container>



            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="action">
                    Actions
                </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <mat-icon [mat-menu-trigger-for]="mem">more_vert</mat-icon>
                    <mat-menu #mem="matMenu" class="action-menu">
                        <a (click)="showRow(element)">

                            <span>
                                View Details
                            </span>
                            <mat-icon class="">
                                chevron_right
                            </mat-icon>
                        </a>

                        <!-- <a (click)="administer(element)">

                            <mat-icon class="">
                                vaccines
                            </mat-icon>
                            <span>
                                Administer
                            </span>
                        </a> -->
                        <!-- <a>
                            <a (click)="encounterService.addObservation(patientId || '')">
                                <mat-icon class="">
                                    assignment
                                </mat-icon>
                                <span>
                                    Generate Order
                                </span>
                            </a>
                        </a> -->

                    </mat-menu>
                </td>
            </ng-container>
            <!--name-->







            <!--verificationStatus - verificationStatus.coding[0].code   -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="staus" sortActionDescription="Sort by Status">
                    Request Status
                </th>
                <td mat-cell *matCellDef="let element">
                    <div #sc style="margin: 0px !important;"
                        [attr.class]="'small-chips'+' '+'status-'+statusStyles[element.status]['color']+' g-just-flex gap-8'">

                        <span> {{element.status}}

                        </span>
                        <mat-icon>
                            {{statusStyles[element.status]['icon']}}
                        </mat-icon>

                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="for">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="for" sortActionDescription="Sort by Subject">
                    PatientId
                </th>
                <td mat-cell *matCellDef="let element; let i = index;" #td class="restrict-width">
                    <div class="g-just-flex gap-0 my-12 link-group"
                        style="justify-content: flex-start; align-items: center;">
                        <div class="g-just-flex gap-5 link-group-words" style="
                            
                            justify-content: flex-start; align-items: flex-start; flex-direction: column;">
                            <div class="top">
                                {{element.for | references2}}


                            </div>
                            @if(isLinkObj['for'].get(i) && ((element.for.reference &&
                            !element.for.display))) {
                            <div class="bottom subtitle-text-color-2">
                                @if((element.for | fetchFromReference : 'name': 0 : 'family' )| async){
                                {{element.for | fetchFromReference : 'name': 0 : 'family' | async}}
                                }@else{
                                <div style="width:10px; height: 10px;">
                                    <mat-progress-spinner mode="indeterminate" style="width:10px; height: 10px;">

                                    </mat-progress-spinner>
                                </div>

                                }


                            </div>
                            }
                        </div>
                        <div>
                            @if(isLinkObj['for'].get(i) && ((element.for.reference &&
                            !element.for.display))) {
                            <div (click)="alltds(td)" class="link-group-icon">


                                <mat-expansion-panel hideToggle="true" class="detail-base" style="box-shadow: none;">
                                    <mat-expansion-panel-header style="margin: 0px; padding: 0px;">
                                        <mat-panel-title style="margin-right: 0px;">
                                            <mat-icon class="subtitle-text-color-2"
                                                style="margin: 0px; padding: 0px;">chevron_right</mat-icon>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ng-template matExpansionPanelContent>
                                        <!-- <span>jjjj</span> -->
                                        <div style="width: 250px;">

                                            <app-detail-base [url]="isLinkObj['for'].get(i)"></app-detail-base>
                                        </div>
                                    </ng-template>
                                </mat-expansion-panel>
                            </div>
                            }
                        </div>
                    </div>


                </td>
            </ng-container>

            <!--assignee - practioner-->
            <ng-container matColumnDef="assignedTo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="assignee"
                    sortActionDescription="Sort by Assignee">
                    Assignee
                </th>
                <td mat-cell *matCellDef="let element; let i = index;" #td class="restrict-width">
                    <div class="g-just-flex gap-0 my-12 link-group"
                        style="justify-content: flex-start; align-items: center;">
                        <div class="g-just-flex gap-5 link-group-words" style="
                            
                            justify-content: flex-start; align-items: flex-start; flex-direction: column;">
                            <div class="top">
                                @if(element.owner){
                                {{element?.owner | references2}}
                                }@else {
                                N/A
                                }
                            </div>


                        </div>
                        <div>
                            @if(isLinkObj['owner'].get(i) && ((element.owner.reference &&
                            !element.owner.display))) {
                            <div (click)="alltds(td)" class="link-group-icon">
                                <mat-expansion-panel hideToggle="true" class="detail-base" style="box-shadow: none;">
                                    <mat-expansion-panel-header style="margin: 0px; padding: 0px;">
                                        <mat-panel-title style="margin-right: 0px;">
                                            <mat-icon class="subtitle-text-color-2"
                                                style="margin: 0px; padding: 0px;">chevron_right</mat-icon>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ng-template matExpansionPanelContent>
                                        <!-- <span>jjjj</span> -->
                                        <div style="width: 250px;">

                                            <app-detail-base [url]="isLinkObj['owner'].get(i)"></app-detail-base>
                                        </div>
                                    </ng-template>
                                </mat-expansion-panel>
                            </div>
                            }
                        </div>
                    </div>
                </td>
            </ng-container>

            <!--clinicalStatus - clinicalStatus.coding[0].code -->


            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; let dataIndex = dataIndex; columns: tableColumns" (click)="showRow(row)">
            </tr>
        </table>
    </mat-card-content>
</mat-card>