.code-display {
    padding: 0px 0px;
    border-radius: 12px;


    .code {
        padding: 2px 8px;
        text-align: center;
        position: relative;
        border-top: 1px groove var(--mat-sys-outline);

        font-size: 14px;



    }



    .display {
        padding: 6px;
        text-align: left;

    }
}

.below {
    position: absolute;
    width: calc(100% + 12px);
    bottom: 0px;
    left: -12px;
    z-index: 9999999;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--mat-sys-surface);
    border-radius: 6px;
    height: 30px;

    mat-icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
    }

}