.profile-card .mat-mdc-card .mat-mdc-card-subtitle {
    font-size: 0.9rem !important;

    &.subtitle-text-color {
        color: light-dark(#8a7c7a, #bbb) !important;

    }


}

.profile-card .mat-mdc-card {
    // box-shadow: 0px 0px 7px 0px var(--mat-sys-surface-container-lowest);
    // border: none !important;

    .fields-wrapper {
        justify-content: flex-start;
        gap: 30px;
    }

    .field-title {
        font-size: 0.9rem !important;
    }

    .field-value .value-with-icon {
        display: flex;
        align-items: center;
        gap: 8px;

        mat-icon {
            color: var(--mat-sys-primary);
        }

        .icon-link {
            display: flex;
        }
    }

    // background-color: var(--mat-sys-surface-container-lowest) !important;
}

.small-chips {
    width: max-content;
    border-radius: 30px;
    padding: 0.05rem 0.5rem;
    font-size: 1rem;
    font-weight: normal;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 8px;
    background-color: transparent !important;
    border: 1px solid var(--mat-sys-outline) !important;


    color: var(--mat-sys-on-background);


    mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        background-color: transparent !important;
        border: none !important;
        // margin-left: -0.5rem;
    }

}

.special-header-wrapper .action-button {
    flex: 1 1 max-content;
}