.each-reference {
    // border: 1px solid var(--mat-sys-outline);
    position: relative;
    border-radius: 6px;
    padding: 0rem 0.75rem;
    padding-right: 1rem;

    border: 1px solid;
    border-color: light-dark(transparent, var(--mat-sys-outline), );

    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);

    .rounded-icon-wrapper {
        position: absolute;
        top: -5px;
        right: -5px;
        cursor: pointer;
        border: 4px solid var(--mat-sys-surface);

        mat-icon {
            width: 16px;
            height: 16px;
            font-size: 16px;
            color: red;
        }
    }
}