.top-menu-strip {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 30px 10px;
    padding-right: 80PX;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999999;
    box-shadow: 2px 2px 7px 0px var(--mat-sys-surface-container);
    background-color: var(--mat-sys-surface-container);
    box-sizing: border-box;
    width: 100%;



    .links {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        flex: 1 1 auto;
    }
}

.gap {
    padding-top: 80px;
}

.small-icon {
    font-size: 14px;
    width: 14px;
    height: 14px;
}

.mat-sidenav.max-width {
    width: 240px;
    height: 100vh;

    &.collapsed-size {
        width: 90px;
    }
}

.side-wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    min-height: 100%;
    background-color: var(--mat-sys-surface-container-low);


    &>* {
        width: 100%;
        box-sizing: border-box;

        &:not(.mat-divider) {
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
        }

    }

    .middle-sidenav {
        flex: 1 1 auto;
    }

}

.bottom-sidenav {


    .my-profile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
    }

    .picture {
        img {
            display: block;
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }

        .words {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .name {
                font-weight: 500;

            }
        }
    }
}

.middle-sidenav {
    flex: 1 1 100%;
}

.collapse-menu {

    .top-sidenav *:not(.expand, .expand mat-icon),
    .bottom-sidenav * {
        display: none;

        #{&},
        .middle-sidenav {
            padding: 0px;
        }
    }
}

.shrink,
.expand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 0px !important;
    // box-shadow: 0px 0px 5px 0px var(--mat-sys-outline);
    border-radius: 50%;
    background-color: var(--mat-sys-surface-container-lowest);
    color: var(--mat-sys-on-surface);
    cursor: pointer;

    &:hover {
        background-color: var(--mat-sys-primary);
        color: var(--mat-sys-on-primary);
    }

    mat-icon {
        font-size: 14px;
        height: 14px;
        width: 14px;
    }

}

.actions {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
}