.form-array,
.form-group {
    border: 1px solid var(--mat-sys-outline);
    padding: 10px;
    border-radius: 10px;
}

.below {
    position: absolute;
    width: calc(100% + 12px);
    bottom: 0px;
    left: -12px;
    z-index: 9999999;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--mat-sys-surface);
    border-radius: 6px;
    height: 30px;

    mat-icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
    }

}