.grey.round {
    background-color: light-dark(#0001, #fff5);
    padding: 0.15rem 0.5rem;
    font-size: 14px;
    border-radius: 20px;
}

.greenbg.round {
    background-color: #00aa0099;
    color: white;

}

.redbg.round {
    background-color: #ff000099;
    color: white;

}

.yellowbg.round {
    background-color: #ffcc0099;
    color: black;

}

table td {
    font-size: 14px;

}