<p class="ms-300">


    @switch (user.role) {
    @case ( "doctor") {

    <app-doctors-dashboard></app-doctors-dashboard>
    }
    @case ( "lab") {
    <app-lab-dashboard></app-lab-dashboard>
    }
    @case('admin'){
    <app-admin-dashboard>

    </app-admin-dashboard>
    }
    @case('patient') {
    <app-patient-dashboard>

    </app-patient-dashboard>
    }
    @case('pharmacy') {
    <app-pharmacy-dashboard>

    </app-pharmacy-dashboard>
    }
    @case ('nurse') {
    <app-nurse-dashboard>
    </app-nurse-dashboard>
    }
    @case('consultant'){
    <app-consultant-dashboard></app-consultant-dashboard>
    }
    @case('cashier'){
    <app-cashier-dashboard></app-cashier-dashboard>
    }
    @default {
    <app-nurse-dashboard>
    </app-nurse-dashboard>
    }
    }

</p>