.add-encounter {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999999999;
}

.round-circle {
    border-radius: 30px;
    width: max-content;
    height: max-content;
    position: fixed;
    right: 20px;
    padding: 0.2rem 1rem;
    z-index: 9999999999;
    bottom: 20px;
    // background-color: var(--mat-sys-background);
    // color: var(--mat-sys-on-primary);
    box-shadow: 2px 2px 7px 0px rgb(125, 125, 125)
}

.max-width {
    max-width: 270px;
    padding-right: 20px;

    padding-left: 20px;

}