<mat-card class="py-20" style="width: max-content; max-width: 100%; box-sizing: border-box;">
    <mat-card-header>
        <div class="g-just-flex flex-between w-100 flex-wrap gap-20">
            <div class="left">
                <mat-card-title class="">
                    Medication Requests

                </mat-card-title>
                <mat-card-subtitle>
                    Find, search and add current and past medication requests
                </mat-card-subtitle>
            </div>
            <div class="right gap-10 g-just-flex">
                <a mat-flat-button extended class="secondary-button small-button">
                    <mat-icon>file_download</mat-icon> Export
                </a>


                @if(capacityObject['medicationRequest']['request'].includes(user.role)

                ) {
                <a mat-flat-button extended (click)="encounterService.addMedicationRequest(patientId || '')">
                    <mat-icon>add</mat-icon> Add Med. Request
                </a>

                }



            </div>
        </div>
    </mat-card-header>

    <mat-card-content class="my-12 ">
        <mat-divider></mat-divider>
        @if((tableDataLevel2 | async)?.length > 0) {
        <app-table-header [patientsTableFilterArray]="  tableFilter"
            [patientsFiltersFormControlObject]=" tableFilterFormControlObject">

        </app-table-header>


        <table mat-table matSort [dataSource]="tableDataSource" class="mat-elevation-z8 demo-table">

            <!--name - coding.code.display-->
            <ng-container matColumnDef="date_prescribed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="date_prescribed"
                    sortActionDescription="Sort by Date">
                    Date Prescribed
                </th>
                <td mat-cell *matCellDef="let element">{{element.authoredOn}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="action">
                    Action
                </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <mat-icon [mat-menu-trigger-for]="mem">more_vert</mat-icon>
                    <mat-menu #mem="matMenu" class="action-menu">
                        <a (click)="viewDetails(element)">

                            <span>
                                View Details
                            </span>
                            <mat-icon class="">
                                chevron_right
                            </mat-icon>
                        </a>
                        <!-- <a (click)="administer(element)">

                            <mat-icon class="">
                                vaccines
                            </mat-icon>
                            <span>
                                Administer
                            </span>
                        </a> -->
                        <a>
                            <a (click)="encounterService.addObservation(patientId || '')">
                                <mat-icon class="">
                                    assignment
                                </mat-icon>
                                <span>
                                    Generate Order
                                </span>
                            </a>
                        </a>

                    </mat-menu>
                </td>
            </ng-container>

            <!--dateRecorded - recordedDateTime -->
            <ng-container matColumnDef="medication">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="medication"
                    sortActionDescription="Sort by Medication">
                    MedicationId
                </th>
                <td mat-cell *matCellDef="let element; let i = index;" #td>
                    @if( element.medication ){
                    <div class="g-just-flex gap-0 my-12 link-group"
                        style="justify-content: flex-start; align-items: center;">
                        <div class="g-just-flex gap-5 link-group-words"
                            style="justify-content: flex-start; align-items: flex-start; flex-direction: column;">
                            <div class="top">
                                {{element.medication | codeableRef2}}


                            </div>
                            @if(isLinkObj['medication'] && isLinkObj['medication'].get(i)) {
                            <div class="bottom subtitle-text-color-2 link-group-icon">
                                @if((element.medication.reference | fetchFromReference : 'code': 'coding': 0 : 'display'
                                )| async){
                                {{element.medication.reference | fetchFromReference : 'code': 'coding': 0 : 'display' |
                                async}}
                                }@else{
                                <div style="width:10px; height: 10px;">
                                    <mat-progress-spinner mode="indeterminate"
                                        style="width:10px !important; height: 10px; !important">

                                    </mat-progress-spinner>
                                </div>

                                }


                            </div>
                            }
                        </div>
                        <div>
                            @if(isLinkObj['medication'] && isLinkObj['medication'].get(i)) {
                            <div (click)="alltds(td)">


                                <mat-expansion-panel hideToggle="true" class="detail-base" style="box-shadow: none;">
                                    <mat-expansion-panel-header style="margin: 0px; padding: 0px;">
                                        <mat-panel-title style="margin-right: 0px;">
                                            <mat-icon color="subtitle-text-color-2"
                                                style="margin: 0px; padding: 0px;">chevron_right</mat-icon>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ng-template matExpansionPanelContent>
                                        <!-- <span>jjjj</span> -->
                                        <div style="width: 250px;">
                                            <app-detail-base [url]="isLinkObj['medication'].get(i)"></app-detail-base>
                                        </div>
                                    </ng-template>
                                </mat-expansion-panel>
                            </div>
                            }
                        </div>
                    </div>
                    }@else{
                    @if(element.medicationCodeableConcept){
                    <!-- //replace all above with medicationCodeableConcept instead of medication -->

                    <div class="g-just-flex gap-0 my-12 link-group"
                        style="justify-content: flex-start; align-items: center;">
                        <div class="g-just-flex gap-5 link-group-words"
                            style="justify-content: flex-start; align-items: flex-start; flex-direction: column;">
                            <div class="top">

                                {{element.medicationCodeableConcept | codeableConcept2}}


                            </div>

                        </div>
                        <div>
                            @if(isLinkObj['medicationCodeableConcept'] && isLinkObj['medicationCodeableConcept'].get(i))
                            {
                            <div (click)="alltds(td)">


                                <mat-expansion-panel hideToggle="true" class="detail-base" style="box-shadow: none;">
                                    <mat-expansion-panel-header style="margin: 0px; padding: 0px;">
                                        <mat-panel-title style="margin-right: 0px;">
                                            <mat-icon color="subtitle-text-color-2"
                                                style="margin: 0px; padding: 0px;">chevron_right</mat-icon>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ng-template matExpansionPanelContent>
                                        <!-- <span>jjjj</span> -->
                                        <div style="width: 250px;">
                                            <app-detail-base
                                                [url]="isLinkObj['medicationCodeableConcept'].get(i)"></app-detail-base>
                                        </div>
                                    </ng-template>
                                </mat-expansion-panel>
                            </div>
                            }
                        </div>
                    </div>

                    }@else {
                    <span class="subtitle-text-color-2">N/A</span>
                    }


                    }
                </td>
            </ng-container>

            <!--category - category.coding.display -->


            <ng-container matColumnDef="groupIdentifier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="groupIdentifier"
                    sortActionDescription="Sort by groupIdentifier">
                    Group Id
                </th>

                <td mat-cell *matCellDef="let element ; let i = index;"
                    style="max-width: 135px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [ngClass]="{'nob':element.groupIdentifier && sortedWithRequisitionKeys.length &&
                    sortedWithRequisitionKeys.includes(element.groupIdentifier?.value),
                    'not': (element.groupIdentifier && sortedWithRequisitionKeys.length) && (  i == tableDataLevel2.getValue().length - 1 || 
                    !(tableDataLevel2.getValue()[i+1].groupIdentifier) ||
                    sortedWithRequisition[element.groupIdentifier.value] !==
                    sortedWithRequisition[tableDataLevel2.getValue()[i+1].groupIdentifier?.value])
                    
                    }">
                    @if(element.groupIdentifier && element.groupIdentifier.value) {
                    {{
                    i == 0 || !(tableDataLevel2.getValue()[i-1].groupIdentifier) ||
                    sortedWithRequisition[element.groupIdentifier.value] !==
                    sortedWithRequisition[tableDataLevel2.getValue()[i-1].groupIdentifier?.value]
                    ? element.groupIdentifier.value : ""
                    }}
                    }@else {
                    <span class="subtitle-text-color-2">N/A</span>
                    }
                </td>

            </ng-container>

            <ng-container matColumnDef="groupReport">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="groupReport"
                    sortActionDescription="Sort by group report">
                    Group Report
                </th>

                <td mat-cell *matCellDef="let element ; let i = index;" [ngClass]="{'nob-last':element.groupIdentifier && sortedWithRequisitionKeys.length &&
                    sortedWithRequisitionKeys.includes(element.groupIdentifier?.value),
                    'not-last': (element.groupIdentifier && sortedWithRequisitionKeys.length) && (  i == tableDataLevel2.getValue().length - 1 || 
                    !(tableDataLevel2.getValue()[i+1].groupIdentifier) ||
                    sortedWithRequisition[element.groupIdentifier.value] !==
                    sortedWithRequisition[tableDataLevel2.getValue()[i+1].groupIdentifier?.value])
                    
                    }">
                    @if(element.groupIdentifier && element.groupIdentifier.value) {
                    @if(
                    i == 0 || !(tableDataLevel2.getValue()[i-1].groupIdentifier) ||
                    sortedWithRequisition[element.groupIdentifier.value] !==
                    sortedWithRequisition[tableDataLevel2.getValue()[i-1].groupIdentifier?.value]
                    )
                    {

                    <!--mat-menu for report and generating order -->
                    <a mat-button [matMenuTriggerFor]="groupMenu">Group Actions</a>
                    <mat-menu #groupMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            Enter Diagnostic Report
                        </button>
                        <button mat-menu-item>
                            <mat-icon>assignment</mat-icon>
                            Generate Order
                        </button>

                    </mat-menu>


                    }@else{}

                    }@else {
                    <span class="subtitle-text-color-2">N/A</span>
                    }
                </td>

            </ng-container>


            <ng-container matColumnDef="dosage_instruction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="dosage_instruction"
                    sortActionDescription="Sort by Dosage">
                    Dosage
                </th>
                <td mat-cell *matCellDef="let element"> <span
                        [innerHTML]="element.renderedDosageInstruction || element.dosageInstruction?.[0]?.text"></span>
                </td>
            </ng-container>

            <!--verificationStatus - verificationStatus.coding[0].code   -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="staus" sortActionDescription="Sort by Status">
                    Request Status
                </th>
                <td mat-cell *matCellDef="let element">
                    <div #sc style="margin: 0px !important;"
                        [attr.class]="'small-chips'+' '+'status-'+statusStyles[element.status]['color']+' g-just-flex gap-8'">

                        <span> {{element.status}}

                        </span>
                        <mat-icon>
                            {{statusStyles[element.status]['icon']}}
                        </mat-icon>

                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="staus" sortActionDescription="Sort by Subject">
                    PatientId
                </th>
                <td mat-cell *matCellDef="let element; let i = index;" #td class="restrict-width">
                    <div class="g-just-flex gap-0 my-12 link-group"
                        style="justify-content: flex-start; align-items: center;">
                        <div class="g-just-flex gap-5 link-group-words" style="
                            
                            justify-content: flex-start; align-items: flex-start; flex-direction: column;">
                            <div class="top">
                                {{element.subject | references2}}


                            </div>
                            @if(isLinkObj['subject'].get(i) && ((element.subject.reference &&
                            !element.subject.display))) {
                            <div class="bottom subtitle-text-color-2">
                                @if((element.subject | fetchFromReference : 'name': 0 : 'family' )| async){
                                {{element.subject | fetchFromReference : 'name': 0 : 'family' | async}}
                                }@else{
                                <div style="width:10px; height: 10px;">
                                    <mat-progress-spinner mode="indeterminate" style="width:10px; height: 10px;">

                                    </mat-progress-spinner>
                                </div>

                                }


                            </div>
                            }
                        </div>
                        <div>
                            @if(isLinkObj['subject'].get(i) && ((element.subject.reference &&
                            !element.subject.display))) {
                            <div (click)="alltds(td)" class="link-group-icon">


                                <mat-expansion-panel hideToggle="true" class="detail-base" style="box-shadow: none;">
                                    <mat-expansion-panel-header style="margin: 0px; padding: 0px;">
                                        <mat-panel-title style="margin-right: 0px;">
                                            <mat-icon class="subtitle-text-color-2"
                                                style="margin: 0px; padding: 0px;">chevron_right</mat-icon>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ng-template matExpansionPanelContent>
                                        <!-- <span>jjjj</span> -->
                                        <div style="width: 250px;">

                                            <app-detail-base [url]="isLinkObj['subject'].get(i)"></app-detail-base>
                                        </div>
                                    </ng-template>
                                </mat-expansion-panel>
                            </div>
                            }
                        </div>
                    </div>


                </td>
            </ng-container>

            <!--clinicalStatus - clinicalStatus.coding[0].code -->


            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; let dataIndex = dataIndex; columns: tableColumns" (click)="showRow(row)">
            </tr>
        </table>
    }@else {
        <app-empty-state
        [title]="'No Medication Requests Found'"
        [subtitle]="'No medication requests have been made for this patient yet.'"
        [icon]="'PILLS'"
        ></app-empty-state>
    }
    </mat-card-content>
</mat-card>