.small-chips {
    width: max-content;
    border-radius: 30px;
    padding: 0.05rem 0.5rem;
    font-size: 1rem;
    font-weight: normal;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 8px;
    background-color: transparent !important;
    border: 1px solid var(--mat-sys-outline) !important;


    color: var(--mat-sys-on-background);


    mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        background-color: transparent !important;
        border: none !important;
        // margin-left: -0.5rem;
    }

}

table {
    display: block;


    border-radius: 8px;
    font-size: 1rem;
    width: max-content;
    min-width: auto !important;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    box-sizing: border-box;
    overflow: auto;

    thead tr {
        display: flex;
        gap: 10px;

        th {
            flex: 0 1 max-content;
            font-size: 1rem;
        }
    }

    tbody tr {
        display: flex;
        gap: 20px;

        td {
            flex: 0 1 max-content;
            font-size: 1rem;
        }

    }
}

tr td {
    z-index: 9999999999999;
    position: relative;
    overflow: visible;

    max-width: 280px;

    white-space: nowrap;
    text-overflow: ellipsis;

    &.restrict-width {
        width: max-content;
        max-width: 280px;

    }
}

td>.link-group {
    width: max-content;
    max-width: 100%;
}

td>.link-group>.link-group-words {
    width: max-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    .top {
        text-transform: capitalize;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

td>.link-group-icon {
    flex: 0 0 30px;
}

.bottom {
    text-transform: capitalize;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.nob {
    border-top: none;
    border-bottom: 0px;
    border-right-color: var(--mat-table-row-item-outline-color, var(--mat-sys-outline, rgba(0, 0, 0, 0.12)));
    border-right-width: var(--mat-table-row-item-outline-width, 1px);
    border-right-style: solid;
}

.not {
    border-bottom-color: var(--mat-table-row-item-outline-color, var(--mat-sys-outline, rgba(0, 0, 0, 0.12)));
    border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
    border-bottom-style: solid;
    border-right-color: var(--mat-table-row-item-outline-color, var(--mat-sys-outline, rgba(0, 0, 0, 0.12)));
    border-right-width: var(--mat-table-row-item-outline-width, 1px);
    border-right-style: solid;
}

.nob-last {
    border-top: none;
    border-bottom: 0px;
    border-left-color: var(--mat-table-row-item-outline-color, var(--mat-sys-outline, rgba(0, 0, 0, 0.12)));
    border-left-width: var(--mat-table-row-item-outline-width, 1px);
    border-left-style: solid;
}

.not-last {
    border-bottom-color: var(--mat-table-row-item-outline-color, var(--mat-sys-outline, rgba(0, 0, 0, 0.12)));
    border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
    border-bottom-style: solid;
    border-left-color: var(--mat-table-row-item-outline-color, var(--mat-sys-outline, rgba(0, 0, 0, 0.12)));
    border-left-width: var(--mat-table-row-item-outline-width, 1px);
    border-left-style: solid;
}