.mb-100 {
    padding-bottom: 60px;
}

.dactions {
    position: relative;
    width: 100%;
    right: 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //box-shadow
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    bottom: 0;
}

.component-wrapper {
    position: relative;
    padding-bottom: 60px;
    // flex-direction: column;
}