.card-top {
    .right {
        display: flex;
    }

    .grey.round .mat-icon,
    .right .mat-icon {
        font-size: 14px;
        height: 14px;
        width: 14px;

    }
}

.absolute-top {
    display: none !important;
}

.rounded-icon-wrapper {
    position: relative;

    .grey.round {
        position: absolute;
        top: -10px;
        height: 20px;
        padding: 0px !important;
        width: 20px;
        left: -10px;
        border: 2px solid var(--mat-sys-surface-container-high);
        border-radius: 50%;
    }
}

section {
    margin-top: 30PX;
    margin-bottom: 45px;
}



.grey.round {
    background-color: var(--mat-sys-background);
    padding: 0.15rem 0.5rem;
    font-size: 14px;
    border-radius: 20px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;

    .mat-icon {
        font-size: 14px;
        font-weight: bold;
        height: 14px;
        width: 14px;

    }
}

.greenbg.round {
    color: #00aa0099;


}

.redbg.round {
    color: #ff000099;


}

.yellowbg.round {
    color: #ffcc0099;


}

.newbg.round {
    color: #2196F3;

}

.card-middle {
    .large-words {
        font-size: 1.5rem;
    }
}

.overflow-container {
    height: max-content;
    width: max-content;

    .action-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0.5rem;
        gap: 12px;
        border-radius: 8px;
        background-color: var(--mat-sys-surface-container-high);
        cursor: pointer;
    }
}

.card-middle .left select {
    background-color: var(--mat-sys-surface-container-highest);
    border-radius: 20px;
    display: inline-block;
    padding: 0.25rem;
    color: light-dark(#00000099, #bbb);
    border: none;
    outline: none;
    // box-shadow: 2px 2px 7px 0px var(--mat-sys-background);
}



.scrollable-container {
    overflow: auto;
    padding-bottom: 5px;

    &::-webkit-scrollbar {
        opacity: 0;
    }
}

.absolute-top,
.header-middle {
    border-radius: 20px;
    padding: 5px;
    height: 35px;
    position: absolute;
    top: -25px;
    display: inline-block;
    width: 100px;
    left: 65px;
    background-color: inherit;
    border: 4px solid var(--mat-sys-background);
}

.header-middle {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: var(--mat-sys-surface-container-high);
}

.appointment-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 15px;
    box-shadow:
        2px 2px 7px 2px rgba(0, 0, 0, 0.2);

    background-color: var(--mat-sys-surface-container-high);
    padding: 16px;
    border-radius: 12px;

    width: 200px;

    &>div {
        width: 100%;
    }
}

#overall-summaries {
    .appointment-card {
        width: 235px;
    }

}

#resources-summaries {

    .appointment-card {
        width: 235px;
    }
}