.aichat {
    font-size: 85%;
    z-index: 9999999999999
}

.sidechat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background-color: var(--mat-sys-surface);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;

    transform: translateX(0px);

    &.hide {
        transform: translateX(100%);

    }
}


.chat-interface .send button {
    background-color: var(--accent);
    overflow: hidden;
}

.chat-interface .send button[disabled] {
    background-color: #0001;
}

.d-flex {
    display: flex;

    &.flex-column {
        flex-direction: column;
    }
}


.chat-interface {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    left: 10px;
    box-shadow: 2px 2px 10px 0px rgb(225, 225, 225);
    border: 1px solid #efeff0;
    border-radius: 30px;
    background-color: var(--mat-sys-surface-container-lowest);
    gap: 8px;
    padding: 12px 30px;
    --bs-primary-rgb: 0, 196, 154;
    --bs-secondary-rgb: 209, 52, 91;
}

.chat-interface .chat-top {
    flex-wrap: wrap;
    gap: 10px;
}

.chat-interface textarea:focus {
    border-color: transparent;
    background-color: transparent;
    outline: none;
}

.chat-interface textarea {
    background-color: transparent;
    min-height: 35px;
    height: auto;
    overflow-y: auto;
    width: 100%;
    border-color: transparent;
    max-height: 129px;
}

.chat-interface .chat-bottom .others {
    display: flex;
    gap: 12px;

}