.short-details>div {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom>div {
    justify-content: space-between !important;
    flex: 1 0 100%;

    align-items: flex-start;

    &>span:nth-child(2) {
        text-align: right;
    }

}

.rounded-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: var(--mat-sys-outline);

    mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
    }
}

.info-group-title {
    margin: 10px 0px;
    font-weight: bold;
    font-size: 1rem;
    flex: 1 0 100%
}

.fixed-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mat-sys-surface-container-lowest);
    color: var(--mat-sys-on-surface);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.stretch {
    height: 100%;
    min-width: 270px;
}

.gend-age,
.call-div {
    text-align: center;
}

.container-bg {

    // max-width: 270px;
}

.red-pills {
    flex-direction: row-reverse;
    border: 1.5px solid;
    // border-color: #b71c1c;
    border-radius: 20px;
    position: relative;
    padding: 0px 10px 0px 20px;
    max-width: max-content;
    display: flex;
    justify-content: center;

    align-items: center !important;

    mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        margin: 0px;
    }

    .position-absolute {
        top: -10px;
        left: -10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--mat-sys-surface);
        // background-color: light-dark(#ffebee, #b71c1c);

        mat-icon {
            font-size: 14px;
            height: 14px;
            width: 14px;
            margin: 0px;
        }
    }
}

.position-absolute.low-criticality {
    background-color: light-dark(#e8f5e9, #1b5e20);
    // border-left: 4px solid light-dark(#4caf50, #66bb6a);
    color: light-dark(#2e7d32, #a5d6a7);

}

.position-absolute.high-criticality {
    background-color: light-dark(#ffebee, #b71c1c);
    // border-left: 4px solid light-dark(#f44336, #ef5350);
    color: light-dark(#c62828, #ffcdd2);

}

.high-criticality {
    background-color: light-dark(#ffebee, #b71c1c);
    // border-left: 4px solid light-dark(#f44336, #ef5350);
    color: light-dark(#c62828, #ffcdd2);

}