.chart-area {
    position: relative;
    width: 900px;
    max-width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-background) !important;

    .pos-abs {
        position: absolute;
        top: 20px;
        right: 20px;
    }

}